@*  @model IEnumerable<Personel>  *@

    @model PersonelVM
    <h3>Toplam = @ViewBag.PersonelCount</h3>
    <h3>Toplam = @Model.PersonelCount</h3>

    <ul>
    @foreach (var personel in Model.PersoneListe)
    {
        <li>
            @* @item.Id - @item.Name *@
            @personel.Id - @personel.Name - @personel.Test
        </li>
    }
    </ul>
        